@{
    ViewData["Title"] = "Форум";
}

<div class="d-flex justify-content-center align-items-center vh-100 rounded" style="background-color: white;">
    <div class="card shadow-pl p-3" style="width: 1000px; border-radius: 15px; background-color: white;">
        @inject IHttpContextAccessor HttpContextAccessor
        <h2>Добро пожаловать к нам =D</h2>
    </div>
</div>