@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<div> Иконки, сделанные <a href="" title="IYAHICON"> IYAHICON </a> на <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>