@model Topic
@using System.Text.Json
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = @Model.Title;
    var userContext = new UserContext(HttpContextAccessor.HttpContext.Session);
    bool isOwner = userContext.IsOwner(Model.UserId);
    bool isBanned = userContext.IsBanned();
}

<link rel="stylesheet" type="text/css" href="/css/details_style.css">
<link rel="stylesheet" type="text/css" href="/css/mobile-nav.css">

    <div class="container">
        <!-- Навигация -->
    @await Html.PartialAsync("~/Views/Details/Partial/_NavigationPartial.cshtml", new NavigationViewModel
{
    IsOwner = isOwner,
    TopicId = Model.Id
})

    <!-- Основной контент -->
        <div class="main-content">
        @await Html.PartialAsync("~/Views/Details/Partial/_TopicHeaderPartial.cshtml", Model)

        <!-- Галерея изображений -->


        <!-- Теги и взаимодействия -->
        <div class="interactions-container">
            @await Html.PartialAsync("~/Views/Details/Partial/_TagsPartial.cshtml", Model.Tags)
            @await Html.PartialAsync("~/Views/Details/Partial/_InteractionsPartial.cshtml", new InteractionsViewModel
       {
           TopicId = Model.Id,
           LikesCount = Model.LikesCount,
           IsLiked = ViewBag.IsLike,
           IsFavorite = ViewBag.IsFavorite
       })
            </div>
        </div>

        <!-- Секция комментариев -->
    @await Html.PartialAsync("~/Views/Details/Partial/_CommentsPartial.cshtml", new CommentsViewModel
{
    IsBanned = isBanned,
    TopicId = Model.Id,
    Comments = ViewBag.Comments
})
                        </div>

@section Scripts {
    <script src="~/js/details/tags.js"></script>
    <script src="~/js/details/imageGallery.js"></script>
    <script src="~/js/details/interactions.js"></script>
    <script src="~/js/details/comments.js"></script>
}
